
<hibernate-configuration>
    <session-factory>

        <!-- Database Connection -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate-dec</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        
        
	

        <!-- Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>


        <!-- Hibernate Settings -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- Mapping your Entity Class 	-->
       
       <!--  <mapping class="com.hybernates.java.hybernates_java.emptable"/>   -->
       <!--  <mapping class="HibernateMapping.Pet"/>    -->
       <!--   <mapping class="HibernateMapping.OneToOneMain"/>  -->
        
        
        <mapping class="HibernateMapping.Many2ManyStudent"/>
        <mapping class="HibernateMapping.Many2ManyCourse"/>
        <!-- Add more mappings here -->
        
        


        
        
        
        
    </session-factory>
</hibernate-configuration>
